Repository lacework/go-sdk, pull requests merged in 2020-12, with the labels that each got.

#252 refactor: account mapping file for consolidated CT
  api/integrations_aws.go
  api/integrations_aws_test.go
  cli/cmd/integration.go
  cli/cmd/integration_aws.go
Labels: api, cli

#253 feat(compliance): new aws list-accounts command
  api/integrations_aws.go
  cli/cmd/compliance.go
  cli/cmd/compliance_aws.go
  integration/compliance_test.go
  internal/databox/blob.go
  internal/databox/static/vuln_assessment.html
Labels: cli, feat

#255 fix: false positive results in pkg-manifest scan
  api/vulnerabilities_host.go
  cli/cmd/package_manifest.go
  cli/cmd/vuln_host.go
  cli/cmd/vuln_html.go
Labels: api, bug, cli

#254 fix(install.sh): avoid logging with 'info' cmd
  cli/install.sh
Labels: bug, cli

#259 fix(api): avoid updating AgentTokenResponse.Props
  api/agent.go
  cli/cmd/agent.go
Labels: api, bug

#262 ci: update hostname from our test machine
  integration/host_vulnerability_test.go
Labels: bug, ci

#263 refactor(cli): abstract rendering tables (human-readable)
  cli/cmd/agent.go
  cli/cmd/compliance.go
  cli/cmd/compliance_aws.go
  cli/cmd/compliance_azure.go
  cli/cmd/compliance_gcp.go
  cli/cmd/configure.go
  cli/cmd/event.go
  cli/cmd/integration.go
  cli/cmd/table_render.go
  cli/cmd/table_render_test.go
  cli/cmd/vuln_container.go
  cli/cmd/vuln_host.go
  cli/cmd/vulnerability.go
  integration/agent_token_test.go
  integration/host_vulnerability_test.go
Labels: chore, cli

#260 fix(api): new request body for LQL service
  api/lql.go
Labels: api, bug

#265 build: upgrade Go version to 1.15
  .circleci/config.yml
  Makefile
  go.mod
  scripts/release.sh
Labels: chore, ci

#266 fix(cli): render account mapping file correctly
  cli/cmd/integration.go
Labels: bug, cli

#268 docs: update READMEs and _examples/
  README.md
  api/README.md
  api/errors.go
  cli/README.md
  lwlogger/README.md
  lwlogger/_examples/io-writer/main.go
  lwlogger/_examples/main.go
  lwlogger/_examples/simple-usage/main.go
  lwupdater/README.md
Labels: documentation

#267 feat(api): add Webhook integration
  api/_examples/webhook-alert-channel/main.go
  api/integration_alert_channels_slack.go
  api/integration_alert_channels_webhook.go
  api/integration_alert_channels_webhook_test.go
  api/integrations.go
  cli/cmd/integration.go
  cli/cmd/integration_webhook.go
Labels: api, cli, feat

#269 feat(cli): daily version check
  README.md
  cli/README.md
  cli/cmd/root.go
  cli/cmd/version.go
  integration/framework_test.go
  integration/version_test.go
  lwupdater/README.md
  lwupdater/_examples/main.go
  lwupdater/updater.go
  lwupdater/updater_test.go
Labels: cli, feat

#270 Release v0.2.11
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
Labels: release

#271 refactor(api): remove automatic report trigger
  api/integrations_aws.go
  api/integrations_aws_test.go
  api/integrations_azure.go
  api/integrations_azure_test.go
  api/integrations_gcp.go
  api/integrations_gcp_test.go
Labels: api

#272 ci: fix mv on non exisitent directory
  .circleci/config.yml
Labels: ci

#273 feat: add AWS S3 alert channel integration
  api/_examples/aws-s3-alert-channel/main.go
  api/integration_alert_channels_aws_s3.go
  api/integration_alert_channels_aws_s3_test.go
  api/integrations.go
  cli/cmd/integration.go
  cli/cmd/integration_aws_s3_channel.go
Labels: api, cli, feat
