Repository lacework/go-sdk, pull requests merged in 2020-10, with the labels that each got.

#225 feat(cli): programatic access to profile data
  cli/cmd/cli_state.go
  cli/cmd/cli_unix.go
  cli/cmd/cli_windows.go
  cli/cmd/configure.go
  cli/cmd/event.go
  cli/cmd/root.go
  integration/configure_list_test.go
  integration/configure_show_test.go
  integration/configure_unix_test.go
  integration/configure_windows_test.go
  integration/framework_test.go
  integration/help_test.go
Labels: cli, feat

#227 fix(cli): add epoch to package manifest
  cli/cmd/package_manifest.go
  cli/cmd/vuln_host.go
  scripts/release.sh
Labels: bug, cli

#228 Release v0.2.5
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
  cli/docs/lacework.md
  cli/docs/lacework_access-token.md
  cli/docs/lacework_api.md
  cli/docs/lacework_compliance.md
  cli/docs/lacework_compliance_aws.md
  cli/docs/lacework_compliance_aws_get-report.md
  cli/docs/lacework_compliance_aws_run-assessment.md
  cli/docs/lacework_compliance_azure.md
  cli/docs/lacework_compliance_azure_get-report.md
  cli/docs/lacework_compliance_azure_list-subscriptions.md
  cli/docs/lacework_compliance_azure_run-assessment.md
  cli/docs/lacework_compliance_gcp.md
  cli/docs/lacework_compliance_gcp_get-report.md
  cli/docs/lacework_compliance_gcp_list-projects.md
  cli/docs/lacework_compliance_gcp_run-assessment.md
  cli/docs/lacework_configure.md
  cli/docs/lacework_configure_list.md
  cli/docs/lacework_configure_show.md
  cli/docs/lacework_event.md
  cli/docs/lacework_event_list.md
  cli/docs/lacework_event_open.md
  cli/docs/lacework_event_show.md
  cli/docs/lacework_integration.md
  cli/docs/lacework_integration_create.md
  cli/docs/lacework_integration_delete.md
  cli/docs/lacework_integration_list.md
  cli/docs/lacework_integration_show.md
  cli/docs/lacework_version.md
  cli/docs/lacework_vulnerability.md
  cli/docs/lacework_vulnerability_container.md
  cli/docs/lacework_vulnerability_container_list-assessments.md
  cli/docs/lacework_vulnerability_container_scan-status.md
  cli/docs/lacework_vulnerability_container_scan.md
  cli/docs/lacework_vulnerability_container_show-assessment.md
  cli/docs/lacework_vulnerability_host.md
  cli/docs/lacework_vulnerability_host_generate-pkg-manifest.md
  cli/docs/lacework_vulnerability_host_list-cves.md
  cli/docs/lacework_vulnerability_host_list-hosts.md
  cli/docs/lacework_vulnerability_host_scan-pkg-manifest.md
  cli/docs/lacework_vulnerability_host_show-assessment.md
Labels: release

#229 docs(cli): disable timestamp for automatic docs
  cli/cmd/root.go
  cli/docs/lacework.md
  cli/docs/lacework_access-token.md
  cli/docs/lacework_api.md
  cli/docs/lacework_compliance.md
  cli/docs/lacework_compliance_aws.md
  cli/docs/lacework_compliance_aws_get-report.md
  cli/docs/lacework_compliance_aws_run-assessment.md
  cli/docs/lacework_compliance_azure.md
  cli/docs/lacework_compliance_azure_get-report.md
  cli/docs/lacework_compliance_azure_list-subscriptions.md
  cli/docs/lacework_compliance_azure_run-assessment.md
  cli/docs/lacework_compliance_gcp.md
  cli/docs/lacework_compliance_gcp_get-report.md
  cli/docs/lacework_compliance_gcp_list-projects.md
  cli/docs/lacework_compliance_gcp_run-assessment.md
  cli/docs/lacework_configure.md
  cli/docs/lacework_configure_list.md
  cli/docs/lacework_configure_show.md
  cli/docs/lacework_event.md
  cli/docs/lacework_event_list.md
  cli/docs/lacework_event_open.md
  cli/docs/lacework_event_show.md
  cli/docs/lacework_integration.md
  cli/docs/lacework_integration_create.md
  cli/docs/lacework_integration_delete.md
  cli/docs/lacework_integration_list.md
  cli/docs/lacework_integration_show.md
  cli/docs/lacework_version.md
  cli/docs/lacework_vulnerability.md
  cli/docs/lacework_vulnerability_container.md
  cli/docs/lacework_vulnerability_container_list-assessments.md
  cli/docs/lacework_vulnerability_container_scan-status.md
  cli/docs/lacework_vulnerability_container_scan.md
  cli/docs/lacework_vulnerability_container_show-assessment.md
  cli/docs/lacework_vulnerability_host.md
  cli/docs/lacework_vulnerability_host_generate-pkg-manifest.md
  cli/docs/lacework_vulnerability_host_list-cves.md
  cli/docs/lacework_vulnerability_host_list-hosts.md
  cli/docs/lacework_vulnerability_host_scan-pkg-manifest.md
  cli/docs/lacework_vulnerability_host_show-assessment.md
Labels: documentation

#230 feat(api): trigger initial report automatically
  api/api.go
  api/compliance.go
  api/integrations_aws.go
  api/integrations_aws_test.go
  api/integrations_azure.go
  api/integrations_azure_test.go
  api/integrations_gcp.go
  api/integrations_gcp_test.go
Labels: api, cli, feat

#231 Release v0.2.6
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
Labels: release

#233 fix(ci) Update CI test node
  integration/host_vulnerability_test.go
Labels: ci
