Repository lacework/go-sdk, pull requests merged in 2021-03, with the labels that each got.

#330 feat(cli): filtering flags for compliance report recommendations
  api/compliance.go
  cli/README.md
  cli/cmd/compliance.go
  cli/cmd/compliance_aws.go
  cli/cmd/compliance_azure.go
  cli/cmd/compliance_gcp.go
  cli/cmd/compliance_test.go
  integration/compliance_aws_test.go
  internal/array/contains.go
Labels: cli, feat

#331 feat(cli): load account from new UI API JSON file
  cli/cmd/configure.go
  integration/configure_unix_test.go
  integration/help_test.go
Labels: cli, feat

#337 fix: implement both ECR auth methods
  api/integrations_aws.go
  api/integrations_aws_test.go
  api/integrations_ctr_reg_ecr.go
  api/integrations_ctr_reg_ecr_access_key.go
  api/integrations_ctr_reg_ecr_access_key_test.go
  api/integrations_ctr_reg_ecr_cross_account.go
  api/integrations_ctr_reg_ecr_cross_account_test.go
  cli/cmd/integration.go
  cli/cmd/integration_aws.go
  cli/cmd/integration_ecr.go
  integration/container_vulnerability_test.go
Labels: bug

#338 feat(cli): filter vulnerability assessments by severity
  cli/cmd/compliance.go
  cli/cmd/compliance_test.go
  cli/cmd/vuln_container.go
  cli/cmd/vulnerability.go
  integration/container_vulnerability_test.go
Labels: cli, feat

#348 ci: fix prepare-test-resources job
  .circleci/config.yml
Labels: ci

#345 ci: automatic minor version bump
  go.sum
  scripts/release.sh
Labels: ci

#349 feat(api): implement account information endpoint
  api/account.go
  api/account_test.go
  api/api.go
  api/client.go
Labels: api, feat

#346 feat(cli): new list-registries sub-command and improved error messages
  api/integrations_ctr_reg.go
  cli/cmd/compliance.go
  cli/cmd/compliance_aws.go
  cli/cmd/compliance_azure.go
  cli/cmd/vuln_container.go
  cli/cmd/vuln_container_test.go
  cli/cmd/vulnerability.go
  integration/compliance_test.go
  integration/container_vulnerability_test.go
Labels: cli, feat

#351 Release v0.3.0
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
  cli/docs/lacework_compliance.md
  cli/docs/lacework_vulnerability_container.md
  cli/docs/lacework_vulnerability_container_list-registries.md
  cli/docs/lacework_vulnerability_container_scan.md
Labels: release

#353 ci: Add setup_remote_docker to prepare-test-resources job
  .circleci/config.yml
  integration/compliance_azure_test.go
  scripts/prepare_test_resources.sh
Labels: ci

#352 feat: add new flags to fail host and container vuln scans
  api/vulnerabilities.go
  api/vulnerabilities_container.go
  api/vulnerabilities_host.go
  api/vulnerabilities_host_test.go
  cli/cmd/compliance.go
  cli/cmd/errors.go
  cli/cmd/errors_test.go
  cli/cmd/event.go
  cli/cmd/root.go
  cli/cmd/vuln_container.go
  cli/cmd/vuln_host.go
  cli/cmd/vulnerability.go
  integration/container_vulnerability_test.go
  integration/host_vulnerability_test.go
Labels: cli, feat
