Repository lacework/go-sdk, pull requests merged in 2021-01, with the labels that each got.

#274 feat(cli): enable agent install command
  cli/cmd/agent.go
  cli/cmd/agent_install.go
  cli/cmd/agent_install_test.go
  cli/cmd/cli_state_test.go
  lwrunner/runner.go
  lwrunner/runner_test.go
  vendor/golang.org/x/crypto/ssh/knownhosts/knownhosts.go
  vendor/modules.txt
Labels: cli, feat

#277 fix(cli): propagate errors from install.sh
  cli/install.sh
Labels: bug, cli

#276 test(cli): increase agent install test coverage
  cli/cmd/agent_install.go
  cli/cmd/agent_install_test.go
  lwrunner/runner.go
  lwrunner/runner_test.go
Labels: cli

#279 ci: updates previous to release
  .circleci/config.yml
  scripts/release_containers.sh
Labels: ci

#281 Release v0.2.12
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
  cli/docs/lacework_agent.md
  cli/docs/lacework_agent_install.md
Labels: release

#283 feat(cli): gen-pkg-manifest detect running kernel
  .circleci/config.yml
  cli/cmd/honeyvent.go
  cli/cmd/package_manifest.go
  cli/cmd/package_manifest_test.go
Labels: cli, feat

#284 ci: generate code coverage in HTML format
  .circleci/config.yml
  .gitignore
  Makefile
  scripts/release.sh
Labels: ci

#285 feat(cli): support manifest bigger than 1k packages
  api/client.go
  cli/cmd/honeyvent.go
  cli/cmd/package_manifest.go
  cli/cmd/package_manifest_test.go
  cli/cmd/vuln_host.go
Labels: cli, feat

#286 Release v0.2.13
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
Labels: release

#288 feat(cli): add account check to catch http(s)://
  cli/cmd/configure.go
  integration/configure_unix_test.go
Labels: cli, feat

#289 feat(cli): Add Splunk alert channel
  api/_examples/splunk-alert-channel/main.go
  api/integration_alert_channels_splunk.go
  api/integration_alert_channels_splunk_test.go
  api/integrations.go
  cli/cmd/integration.go
  cli/cmd/integration_splunk.go
Labels: cli, feat

#290 fix(cli): skip daily version check for version cmd
  cli/cmd/root.go
Labels: bug, cli

#293 Release v0.2.14
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
Labels: release

#300 fix(cli): install.sh should respect target override
  cli/install.sh
Labels: bug, cli

#311 fix(cli): avoid daily update check during install
  cli/cmd/version.go
  cli/install.sh
  integration/event_test.go
Labels: bug, cli

#312 test: fix intermittent events test
  integration/event_test.go
Labels: chore, cli
