Repository lacework/go-sdk, pull requests merged in 2021-07, with the labels that each got.

#462 fix(cli): non-interactive should not run daily version check
  cli/cmd/cli_state.go
  cli/cmd/version.go
  integration/version_test.go
Labels: bug, cli

#461 refactor: migrate Agent Access Tokens to API v2
  api/agent_access_tokens.go
  api/agent_access_tokens_test.go
  api/api.go
  api/v2.go
  api/v2_search_filters.go
  cli/cmd/agent.go
  integration/agent_token_test.go
Labels: apiv2, cli

#474 fix(cli): remove subaccount during configure
  cli/cmd/configure.go
Labels: bug, cli

#475 chore(deps): revert bump briandowns/spinner from 1.16.0 to 1.12.0
  go.mod
  go.sum
  vendor/github.com/briandowns/spinner/character_sets.go
  vendor/github.com/briandowns/spinner/spinner.go
  vendor/modules.txt
Labels: bug, dependencies

#476 chore(deps): revert bump AlecAivazis/survey from 2.2.14 to 2.2.12
  go.mod
  go.sum
  vendor/github.com/AlecAivazis/survey/v2/_tasks.hcl
  vendor/github.com/AlecAivazis/survey/v2/go.mod
  vendor/github.com/AlecAivazis/survey/v2/go.sum
  vendor/github.com/AlecAivazis/survey/v2/input.go
  vendor/github.com/AlecAivazis/survey/v2/renderer.go
  vendor/github.com/AlecAivazis/survey/v2/terminal/runereader.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/term/README.md
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/term.go
  vendor/golang.org/x/term/term_solaris.go
  vendor/golang.org/x/term/term_unix.go
  vendor/golang.org/x/term/term_unix_aix.go
  vendor/golang.org/x/term/term_unix_bsd.go
  vendor/golang.org/x/term/term_unix_linux.go
  vendor/golang.org/x/term/term_unix_zos.go
  vendor/golang.org/x/term/term_unsupported.go
  vendor/modules.txt
Labels: bug, dependencies

#481 fix(api): add 'description' field for Host Vulnerability
  api/vulnerabilities_host.go
  cli/cmd/vuln_host.go
Labels: api

#480 test(cli): create VMs of supported platforms
  .gitignore
  Makefile
  cli/README.md
  cli/vagrant/macos-sierra/Vagrantfile
  cli/vagrant/ubuntu-1804/Vagrantfile
  cli/vagrant/windows-10/Vagrantfile
Labels: cli

#492 feat(api): EmailUser Alert Channel (v2)
  api/_examples/alert-channels-v2/main.go
  api/alert_channels.go
  api/alert_channels_email_user.go
  api/alert_channels_email_user_test.go
  api/alert_channels_test.go
  api/api.go
  api/v2.go
Labels: api, feat

#493 feat(cli): manage EmailUser alert channels
  api/integrations.go
  cli/cmd/integration.go
  cli/cmd/integration_email.go
Labels: cli, feat

#498 fix(cli): scan-pkg-manifest returns valid JSON when no vulns are found
  cli/cmd/vuln_host.go
Labels: bug, cli

#500 ci: sign lacework-releng commits
  scripts/release.sh
Labels: ci
