Repository lacework/go-sdk, pull requests merged in 2021-08, with the labels that each got.

#488 feat(cli): unhide query and policy commands
  cli/cmd/lql.go
  cli/cmd/lql_describe.go
  cli/cmd/lql_sources.go
  cli/cmd/policy.go
  integration/help_test.go
  integration/lql_create_test.go
  integration/lql_delete_test.go
  integration/lql_describe_test.go
  integration/lql_list_test.go
  integration/lql_show_test.go
  integration/lql_sources_test.go
  integration/lql_test.go
  integration/lql_update_test.go
  integration/lql_validate_test.go
  integration/policy_test.go
Labels: draft

#510 fix(install.ps1): verify if running as administrator
  README.md
  cli/README.md
  cli/cmd/cli_unix.go
  cli/cmd/cli_windows.go
  cli/install.ps1
  integration/configure_unix_test.go
Labels: bug, cli

#515 feat(cli): new agent install --trust_host_key flag
  cli/cmd/agent.go
  cli/cmd/agent_install.go
Labels: feat, cli

#514 fix(cli): vuln host scan-pkg-manifest --local centos 6.10
  cli/cmd/package_manifest.go
  cli/cmd/package_manifest_test.go
  cli/vagrant/centos-6.10/Vagrantfile
Labels: feat, cli

#516 feat(cli): install agents via SSH on a custom port
  cli/cmd/agent.go
  cli/cmd/agent_install.go
Labels: feat, cli

#517 docs(cli): add inline help docs for query/policy cmds
  api/policy.go
  cli/cmd/integration.go
  cli/cmd/lql.go
  cli/cmd/lql_create.go
  cli/cmd/lql_delete.go
  cli/cmd/lql_list.go
  cli/cmd/lql_show.go
  cli/cmd/lql_update.go
  cli/cmd/lql_validate.go
  cli/cmd/policy.go
  cli/cmd/policy_create.go
  cli/cmd/policy_update.go
Labels: documentation, cli

#520 Migrate a few alert channels to v2
  api/alert_channels.go
  api/alert_channels_aws_s3.go
  api/alert_channels_aws_s3_test.go
  api/alert_channels_email_user_test.go
  api/alert_channels_slack_channel.go
  api/alert_channels_slack_channel_test.go
  api/alert_channels_test.go
  cli/cmd/integration_email.go
Labels: feat, api

#525 fix(cli): handle scan status 'Partial'
  cli/cmd/vuln_container.go
  cli/cmd/vulnerability.go
Labels: bug, cli

#523 fix(cli): removing policyUi from policy schema
  api/policy.go
  api/policy_test.go
  cli/cmd/policy.go
  cli/cmd/policy_create.go
  cli/cmd/policy_create_internal_test.go
  cli/cmd/policy_update_internal_test.go
  integration/lql_create_test.go
  integration/lql_update_test.go
  integration/policy_test.go
  integration/test_resources/policy/lacework-clitest-1.json
Labels: bug, cli
