Repository lacework/go-sdk, pull requests merged in 2021-06, with the labels that each got.

#437 Release v0.8.0
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
  cli/docs/lacework.md
  cli/docs/lacework_access-token.md
  cli/docs/lacework_agent.md
  cli/docs/lacework_agent_install.md
  cli/docs/lacework_agent_token.md
  cli/docs/lacework_agent_token_create.md
  cli/docs/lacework_agent_token_list.md
  cli/docs/lacework_agent_token_show.md
  cli/docs/lacework_agent_token_update.md
  cli/docs/lacework_api.md
  cli/docs/lacework_compliance.md
  cli/docs/lacework_compliance_aws.md
  cli/docs/lacework_compliance_aws_get-report.md
  cli/docs/lacework_compliance_aws_list-accounts.md
  cli/docs/lacework_compliance_aws_run-assessment.md
  cli/docs/lacework_compliance_azure.md
  cli/docs/lacework_compliance_azure_get-report.md
  cli/docs/lacework_compliance_azure_list-subscriptions.md
  cli/docs/lacework_compliance_azure_list-tenants.md
  cli/docs/lacework_compliance_azure_run-assessment.md
  cli/docs/lacework_compliance_google.md
  cli/docs/lacework_compliance_google_get-report.md
  cli/docs/lacework_compliance_google_list-projects.md
  cli/docs/lacework_compliance_google_run-assessment.md
  cli/docs/lacework_configure.md
  cli/docs/lacework_configure_list.md
  cli/docs/lacework_configure_show.md
  cli/docs/lacework_event.md
  cli/docs/lacework_event_list.md
  cli/docs/lacework_event_open.md
  cli/docs/lacework_event_show.md
  cli/docs/lacework_integration.md
  cli/docs/lacework_integration_create.md
  cli/docs/lacework_integration_delete.md
  cli/docs/lacework_integration_list.md
  cli/docs/lacework_integration_show.md
  cli/docs/lacework_version.md
  cli/docs/lacework_vulnerability.md
  cli/docs/lacework_vulnerability_container.md
  cli/docs/lacework_vulnerability_container_list-assessments.md
  cli/docs/lacework_vulnerability_container_list-registries.md
  cli/docs/lacework_vulnerability_container_scan-status.md
  cli/docs/lacework_vulnerability_container_scan.md
  cli/docs/lacework_vulnerability_container_show-assessment.md
  cli/docs/lacework_vulnerability_host.md
  cli/docs/lacework_vulnerability_host_generate-pkg-manifest.md
  cli/docs/lacework_vulnerability_host_list-cves.md
  cli/docs/lacework_vulnerability_host_list-hosts.md
  cli/docs/lacework_vulnerability_host_scan-pkg-manifest.md
  cli/docs/lacework_vulnerability_host_show-assessment.md
Labels: apiv2, release

#447 fix(cli): migration of Frankfurt organizational accounts
  cli/cmd/migration.go
  internal/domain/domain_test.go
Labels: bug, cli

#454 ALLY-539 Introducing V2 Cloud Account Management
  api/_examples/cloud-accouts/main.go
  api/api.go
  api/client.go
  api/client_test.go
  api/cloud_accounts.go
  api/cloud_accounts_aws_ct_sqs.go
  api/cloud_accounts_aws_ct_sqs_test.go
  api/cloud_accounts_test.go
  api/v2.go
Labels: apiv2, feat

#455 refactor(cli): Switch the creation of Cloudtrail Integrations to APIv2
  cli/cmd/cli_state.go
  cli/cmd/integration_aws.go
  cli/cmd/root.go
  integration/compliance_test.go
  integration/help_test.go
Labels: apiv2, cli
