Repository lacework/go-sdk, pull requests merged in 2021-09, with the labels that each got.

#541 fix(install.ps1): Force Set-Variable as Constant
  cli/install.ps1
Labels: bug

#545 feat(lwdomain): export go package
  README.md
  api/account.go
  api/user_profile.go
  cli/cmd/configure.go
  lwdomain/README.md
  lwdomain/domain.go
  lwdomain/domain_test.go
Labels: feat

#547 Release v0.15.0
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
  cli/docs/lacework.md
  cli/docs/lacework_api.md
Labels: release

#551 feat(telemetry): send information about flags
  cli/cmd/honeyvent.go
  cli/cmd/honeyvent_test.go
  cli/cmd/root.go
  integration/framework_test.go
Labels: feat, cli

#560 feat: Add NonOSPackageSupport container registries
  api/container_registries_gcp_gar.go
  api/container_registries_ghcr.go
  api/integrations_ctr_reg_ecr_access_key.go
  cli/cmd/integration_docker_hub.go
  cli/cmd/integration_docker_v2.go
  cli/cmd/integration_ecr.go
  cli/cmd/integration_gar.go
  cli/cmd/integration_gcr.go
  cli/cmd/integration_ghcr.go
Labels: feat, cli, api, apiv2

#561 Release v0.16.0
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  api/version.go
Labels: release

#564 fix(cli): install.ps1 to not fail for False boolean
  cli/install.ps1
Labels: bug
